@font-face {
  font-family: Garamond;
  src: url('../fonts/Garamond.otf');
}

footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: aliceblue;
  font-weight: bold;
  font-family: Garamond;
  text-transform: uppercase;
  background-color: black;
  box-shadow: 0 -0.1em 0.1em black;

  @media screen and (orientation: landscape) {
    & {
      flex-direction: row;
    }
  }

  & * {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }

  & > .icons {
    gap: 1em;
  }
}

.footer-license {
  white-space: pre-wrap;
}
