@font-face {
  font-family: Garamond;
  src: url('../fonts/Garamond.otf');
}

header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;
  margin: 1em;

  @media screen and (min-width: 1024px) {
    & {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  & > .logo {
    align-self: center;
  }

  & > nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5em;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1ex;
    border-bottom: 2px solid;

    @media screen and (orientation: landscape) {
      & {
        flex-direction: row;
      }
    }

    & > a {
      --underline-width: 0;
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-family: Garamond;
      outline: none;
      opacity: 0.69;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
}

.logo {
  img {
    width: 100vw;

    @media screen and (orientation: landscape) {
      width: 31.3vw;
    }
  }
}

.header-top__navbar-item--active {
  opacity: 1;
}
