<svelte:head>
  <title>Hello, Svelte!</title>
</svelte:head>

<h1>Hello, Svelte!</h1>

<style>
  :global(*) {
    box-sizing: border-box;
  }

  :global(html),
  :global(body) {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  :global(body) {
    padding: 0.5em;
  }
</style>
